* {
    border: 1px solid red;
}

body {
    background-color: #3F3FBF;
}

header, footer {
    background-color: darkblue;
    padding: 10px;
    color: white;
}

/* this targets all elements with HTML tag h1 */
h1 {
    font-family: futura;
    color: white;
    text-align: center;
  }

/* this targets one HTML tag 'nav' */
nav {
    float: left;
    padding: 20px;
}

/* this targets two HTML tags nav and ul */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* this targets three HTML tags nav, ul, li */
nav ul li {
    padding: 10px;
    margin: 5px;
    background-color: darkblue;
}

/* this targets three HTML tags */
nav ul a {
    text-decoration: none;
    color: #ffffff;
}

/* this targets all elements with the class 'topics-for-blog' */
.topics-for-blog {
  color: white;
  font-family: Futura;
}

/* this targets all elements in the class 'topics'*/
.topics {
  color: white;
  margin-left: 170px;
  padding: 10px;
}

/* this targets all elements with the HTML tag + class 'topics'*/
h2.topics {
  padding: 5px;
/*  border-radius: 60%; */
}

p {
    font-family: Futura;
    font-size: 20px;
}
