/* check box model
* {
    border: 1px solid red;
}
*/

body {
    background-color: #8FBC8F;
}

header {
    background-color: #8FBC8F;
    padding: 1rem;
}

/* this targets all elements with HTML tag h1 */
h1 {
    font-family: Futura;
    text-align: center;
    color: white;
  }

/* this targets one HTML tag 'nav' */
nav {
    float: left;
    padding: 20px;
}

/* this targets two HTML tags nav and ul */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* this targets three HTML tags nav, ul, li */
nav ul li {
    padding: 10px;
    margin: 5px;
    background-color: #D3D3D3;
}

/* this targets three HTML tags */
nav ul a {
    text-decoration: none;
    color: #ffffff;
}

/* this targets all elements with the class 'topics-for-blog' */
.topics-for-blog {
  color: white;
  font-family: Futura;
}

/* this targets all elements in the class 'intro'*/
.intro {
  color: white;
  margin-left: 170px;
  padding: 10px;
}

/* this targets all elements with the HTML tag + class 'intro'*/
h2.intro {
  padding: 5px;
  border-bottom-width: thick;
/*  border-radius: 60%; */
}


p {
    font-family: Futura;
    font-size: 20px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
